.my-border{
    border: 1px solid black;
}

.app-container {
    display: flex;
    height: 100vh;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    overflow: auto;
}

.left-wishlist{
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
}

.center-content {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    /*border: black 1px solid;*/
}

.center-left-align {
    width: 50%;
    margin: 0 auto;
    text-align: left;
}

.form-box-spacing {
    padding-bottom: 10px;
}

.text-right {
    text-align: right;
}

.input-box-right {
    display: flex;
    justify-content: flex-end;
}

.button{
    background-color: darkorange;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none!important;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.button2 {
    border-radius: 8px;
}

.button-left-margin {
    margin-left: 150px;
}

.list-group-item.active {
    background-color: dimgrey !important;
    border-color: dimgrey !important;
}

.list-group-item:hover{
    background-color: lightgrey !important;
    border-color: lightgrey !important;
}

.right-content {
    flex: 1;
    /*margin-left: 20px; !* Optional: Add some space between the divs *!*/
}