.my-border{
    border: 1px solid black;
}

.app-container {
    display: flex;
    height: 100vh;
    background-color: #f8f9fa !important;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    overflow: auto;
    background-color: #f8f9fa !important;

}

.left-wishlist{
    /*padding-right: 20px;*/
    margin-top: -20px;
    margin-right: 20px;
    background-color: #EFE5DC;
    margin-left: -20px;
    transition: transform .3s ease-in-out;
    z-index: 1;
}

.center-content {
    /*width: 50%;*/
    margin: 0 auto;
    text-align: center;
}
.button2 {
    border-radius: 8px;
    width: fit-content;
}

.button-left-margin {
    margin-left: 150px;
}

.right-content {
    flex: 1;
}

.new-wishlist-button {
    width: 80%;
    border-radius: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.add-button {
    position: absolute;
    /*right: 5px;*/
}