.my-border{
    border: 1px solid black;
}

.app-container {
    display: flex;
    height: 100vh;
    background-color: #f8f9fa !important;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    overflow: auto;
    background-color: #f8f9fa !important;

}

.left-wishlist{
    /*padding-right: 20px;*/
    margin-top: -20px;
    margin-right: 20px;
    background-color: dimgrey;
    margin-left: -200px;
    transition: transform .3s ease-in-out;
    z-index: 1;
}
.left-wishlist.slide-out {
    transform: translateX(100%);
}

.list-of-wishes{
    margin-left: 200px;
    transition: transform 3s ease-in !important;
}

.center-content {
    /*width: 50%;*/
    margin: 0 auto;
    text-align: center;
}

.center-left-align {
    width: 50%;
    margin: 0 auto;
    text-align: left;
}

.form-box-spacing {
    padding-bottom: 10px;
}

.text-right {
    text-align: right;
}

.input-box-right {
    display: flex;
    justify-content: flex-end;
}

.button{
    background-color: darkorange;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none!important;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.button2 {
    border-radius: 8px;
    width: 20%;
}

.button-left-margin {
    margin-left: 150px;
}

.right-content {
    flex: 1;
}

.new-wishlist-button {
    width: 80%;
    border-radius: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.add-button {
    position: absolute;
    /*right: 5px;*/
}