.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #EFE5DC;
    border-bottom: 1px solid #423D37;
}

.logo {
    display: flex;
    align-content: center;
    font-size: 1.3em;
    font-weight: bold;
    margin-left: 20px;
    color: #423D37;
    text-decoration: none!important;
}

.listeroo-name{
    font-size: 24px;
}

.nav-links {
    display: flex;
    gap: 1rem;
    margin-left: 4rem;
}

.nav-link {
    text-decoration: none;
    color: #423D37;
    font-size: 1rem;
}

.search-bar {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
}

.search-bar input {
    width: 200px;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.profile-icon {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}