.left-nav {
    margin-top: -20px;
    margin-left: -20px;
    position: relative;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
}

.left-nav ul {
    list-style-type: none;
    padding: 0;
    flex-grow: 1;
}

.left-nav li {
    padding: 8px 16px;
}

.left-nav li a {
    text-decoration: none;
    color: #000;
    display: block;
}

.left-nav li a:hover {
    background-color: #ddd;
}

.resize-icon {
    cursor: ew-resize; /* Change cursor to hand */
    background-color: dodgerblue;
    height: 100%;
    position: absolute;
    right: -10px;
    top: 0;
    margin-top: 50px;
    border-radius: 10px;
    opacity: 0; /* Make the icon invisible */
    transition: opacity .3s; /* Smooth transition for visibility */
    z-index: 10;
    user-select: none;
}

.resize-handle {
    cursor: ew-resize; /* Change cursor to resize */
    width: 5px; /* Width of the resize handle */
    background-color: dodgerblue;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0; /* Make the handle invisible */
    user-select: none;
}

.left-nav:hover .resize-icon,
.left-nav:hover .resize-handle {
    opacity: 1; /* Make the icon and handle visible when hovering over the nav */
}

