.left-nav {
    min-width: 150px;
    margin-top: -20px;
    margin-left: -20px;
    position: relative;
    background-color: #EFE5DC;
    display: flex;
    flex-direction: column;
    z-index: 2;
    border-right: 1px #423D37 solid;
}

.left-nav-top-margin {
    margin-top: 20px;
}

.left-nav .list-group{
    border-radius: 0;
    border: 0;
}

.left-nav .list-group-item{
    border-radius: 0;
    border: 0;
    color: #423D37;
    background-color: #EFE5DC;
}

.left-nav .list-group-item:active {
    background-color: rgba(255, 255, 255, 0.8) !important;
    border-top: #BB8034;
    border-right: #BB8034;
    border-bottom: #BB8034;
    border-left: 4px solid #423D37 !important;
    color: black;
    solid-opacity: 40%;
}

.resize-icon {
    z-index: 10;
    background-color: #423D37;
    color: #423D37;
    position: absolute;
    right: -10px;
    margin-top: 30px;
    border-radius: 8px;
    user-select: none;
}

.resize-handle {
    cursor: ew-resize; /* Change cursor to resize */
    width: 5px; /* Width of the resize handle */
    background-color: #423D37;
    color: #423D37;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0; /* Make the handle invisible */
    user-select: none;
    z-index: 11;
}

.resize-handle:hover
{
    opacity: 1; /* Make the icon and handle visible when hovering over the nav */
}

