/* src/css/WishComp.css */

.wish-comp {
    width: 500px !important;
    position: relative;
}

.wish-comp .list-group-item.active{
    background-color: lightgrey !important;
    color: black;
    border: lightgrey;
}

.wish-comp .delete-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.wish-comp:hover {
    cursor: grab;
}
