/*
wishlist-comp is the individual item being displayed.
wishlist-list is the list of wishlists display
 */


.wishlist-list {
    width: 200px;
}


.wishlist-comp:hover,
.wishlist-list:hover{
    cursor: grab;
    background-color: lightgrey;
}

.wishlist-list .list-group-item.active{
    background-color: orangered !important;
    border: orangered;
}

.wishlist-list .list-group-item{
    border-radius: 0 !important;
    background-color: #f8f9fa !important;
    border-color: #f8f9fa !important;
}


.wishlist-comp .delete-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
}