/* src/css/WishComp.css */


.wish-card:hover {
    background-color: #EFE5DC;
    color: white ;
    text-decoration: none;
}

.wish-card {
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
    border: 1px solid #ccc;
    border-radius: 8px !important;
    overflow: hidden;
    max-width: 80%;

}
.wish-card-content .a{
    text-decoration: none !important;
}
.center-horizon{
    align-items: center !important;
    display: flex !important;
}
.wish-card-media {
    width: fit-content !important;
    height: fit-content;
    padding: 10px;
    border-radius: 15px;
}
.wish-card-media-action-area{
    width: fit-content !important;
    min-width: 200px;
    height: fit-content;
}
.wish-card a {
    text-decoration: none !important;
}

.wish-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    text-decoration: none !important;
}

.wish-card-divider {
    background-color: black;
}

.wish-card-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
}

.wish-card-drag-icon-card {
    align-items: center;
    display: flex;
}

.wish-card-drag-icon:hover{
    cursor: grab;
}


.card-active {
    background-color: #994636 !important;
    color: white !important;
    text-decoration: none !important;
}