/*
wishlist-comp is the individual item being displayed.
wishlist-list is the list of wishlists display
 */


.wishlist-list .list-group-item {
    width: 200px !important;
    position: relative;
}


.wishlist-comp .delete-icon {
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.wishlist-comp:hover,
.wishlist-list:hover{
    cursor: grab;
}

.list-group-item.active{
    background-color: orangered !important;
    border: orangered;
}

.wishlist-comp.active{
    background-color: yellow;
}