/*
wishlist-comp is the individual item being displayed.
wishlist-list is the list of wishlists display
 */


.wishlist-list {
    width: 200px;
}


.wishlist-comp:hover,
.wishlist-list:hover{
    cursor: grab;
    background-color: lightgrey !important;
}

.wishlist-list .list-group-item.active{
    background-color: rgba(255, 255, 255, 0.8) !important;
    border-top: #BB8034;
    border-right: #BB8034;
    border-bottom: #BB8034;
    border-left: 4px solid #423D37 !important;
    color: black;
    solid-opacity: 40%;
}

.wishlist-list .list-group-item{
    border-radius: 0 !important;
    background-color: #EFE5DC !important;
    border-color: #EFE5DC !important;
}


.wishlist-comp .delete-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
}