/* src/css/WishComp.css */

.wish-comp {
    width: 100% !important;
    margin-right: 40px !important;
    position: relative;
}

.wish-comp .list-group-item.active{
    background-color: #BB8034 !important;
    color: black !important;
    border: lightgrey;
}

.wish-comp a {
    text-decoration: none !important;
}

.wish-comp .list-group-item.active a{
    color: white !important;
}

.wish-comp .delete-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.wish-comp:hover {
    cursor: grab;
}
